 /* *{

padding: 0;
margin: 0;



}
*/
body{
    zoom:80%;
    background-color: #060d20;
    color: rgb(255, 251, 247);
    height: 100vh; /*v= viewport h=altura que tenga al 100% */
    box-sizing: border-box; /*no sale del elemento*/
    width: auto;
}
header{
    background-color: #0a1d53;
    margin:1%;
    
}
footer{
    background-color: #071026;
    margin:1% ;
    font-family: "Montserrat", sans-serif;;
    
    

}
.Encabezado{
    align-items:center;
    
}

nav{
    background-color: #0a1d53;
    box-sizing: content-box;
    float: right;
    padding: 5px 30px;

}
nav ul li{
    list-style: none;
    margin-left:50px;
    padding: 40px 0;
    float: left;


}

.title_1{
    color: #960258;
   
    font-family: "Krona One", sans-serif;

}
p{
    color: rgb(255, 237, 197);
    margin: 5%;
   /* border: 2px solid #052681;
*/   
   padding: 1px;
   font-family: "Montserrat", sans-serif;


}
p .nombre_parrafo{
    color: #e6ac00;
    font-family: "Krona One", sans-serif;
}

a{
    color: aliceblue;
}
.presentacion{
    display: flex; /* */
    align-items: center;
    margin:10% 15%;
    justify-content: space-between;

}
 .Profile{
    height: auto;
    width: auto;
    border-radius: 50px;
    padding: 5px 30px;
 }
.presentacion_contenido1{
    font-family: "Krona One", sans-serif;
    width: 615px;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.presentacion_contenido_Titulo1{
    font-size: 50px;
}
.presentacion_contenido_Titulo2{
    font-size: 25px;
}
.presentacion_contenido_texto{
    font-size: 20px ;
}

.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap:32px;
}

.enlaces_link{
    padding: 35px 40px;
    width: 300px;
    background-color: #960258;
    text-align: center;
    border-radius: 16px;
    font-family:"Krona One", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;



}